:host {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
#container {
    display: flex;
    flex: 1;
    nav {
        width: 300px;
        background-color: white;
        box-shadow: 5px solid #ccc;
        min-height: 100%;
    }

    main {
        padding: 20px;
    }
}