:host {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
#container {
    display: flex;
    height: calc(100% - 70px);
    nav {
        width: 300px;
        background-color: white;
        border: 1px solid #ccc;
        min-height: 100%;
    }

    main {
        padding: 20px;
        flex: 1;
        height: 100%;
        background-color: #eee;
    }
}